{% extends 'base.html' %}

{% block title %} Главная страница {% endblock title %}

{% block content %}
<h1>Главная страница</h1>

<div class="row">
    <h2 class="col-12 col-md-12 display-2">Решаю задачи 2 семинара</h2>
</div>
<u>
    <li><a href="task_01_button">Задача 1</a></li>
    <li><a href="task_02_upload">Задача 2</a></li>
    <li><a href="task_03_check_user">Задача 3</a></li>
    <li><a href="task_04_len_text">Задача 4</a></li>
    <li><a href="/task_05_math">Задача 5</a></li>
    <li><a href="/task_06_check_age">Задача 6</a></li>
    <li><a href="/task_07_square">Задача 7</a></li>
    <li><a href="/task_08_flash">Задача 8</a></li>
    <li><a href="/task_09_cookie">Задача 9</a></li>
</u>
{% endblock content %}